header {
    background-color:darkblue;
    color:white;
    display:flex;
}

.imagem-logo {
    width:50px;
    height: 50px;
    margin: 20px;
    padding: 20px;

}
.lista-cabeçalho {
    display: flex;
}
.imagem-colegio {
    width: 20%;
    height: 20%;
}
.escola {
    background-image: linear-gradient(#ffffff, #464646);
    color:white;
    font-size: 21px;
    padding: 400px 400px;
}

.escola-titulo {
    padding: 24px 0;
}