header {
    background-image: linear-gradient(rgb(5, 30, 255), #021b6b);
    color:white;
    display:flex;
}

.imagem-logo {
    width:50px;
    height: 50px;
    margin: 14px;
    padding: 20px;

}
.lista-cabesalho {
    font-size: 21px;
    display: flex;
    padding: 50px 100px;
}
.imagem-colegio {
    width: 20%;
    height: 20%;
}
.escola {
    background-image: linear-gradient(rgb(34, 46, 207), #ffffff);
    color:rgb(0, 0, 0);
    font-size: 21px;
    padding: 400px 400px;
}

.escola-titulo {
    padding: 24px 0;
}